:root {
  ---text-base: #eabe4d;
  ---text-dark: #a86637;
  ---dark-color: #09141a;
  ---mid-color: #152832;

  ---fancy-font: "Berkshire Swash", cursive;
  ---curly-font: "Cedarville Cursive", cursive;
  ---basic-font: "Raleway", sans-serif;
}

.App {
  text-align: left;
  max-width: 60%;


  color: var(---text-base)
}

.App .footer {
  text-align: center;
  font-size: 10px;
  font-family: var(---base-font);
  color: var(---text-base);
}
.App .footer a {
  text-decoration: none;
  color: var(---text-dark);
  font-family: var(---fancy-font);
}
.App .footer a:hover {
  color: var(---mid-color);
  ;
}
