.Conversion {
  line-height: 0;
}

.Conversion .unit a {
  text-decoration: none;
  color: var(---text-dark);
}
.Conversion .temperatureDisplay {
  font-size: 99px;
  font-family: var(---fancy-font);
}

@media (max-width: 400px) {
  .Conversion .temperatureDisplay {
    font-size: 80px;
  }
}
