.Weather {
  background-color: var(---dark-color);
  background-image: url("./media/borderimg.png");
}

.Weather h1 {
  font-size: 70px;
  font-weight: 900;
  color: var(---text-dark);
  text-shadow: 1px 1px 14px var(---text-base);
  font-family: var(---fancy-font);
}



.Weather .searchinput {
  color: var(---text-dark);
  background-color: #091820dd;
  border: 3px solid #1a313e20;
  border-radius: 4px;
}
.Weather .searchinput::placeholder {
  font-size: 14px;
  opacity: 0.5;
  color: var(---text-dark);
  font-family: var(---fancy-font);
}

.Weather .searchbutton {
  color: var(---text-dark);
  background-color: #0000000b;
  border: solid #1a313e3f;
  border-radius: 4px;
  font-family: var(---fancy-font);
}

.loading {
  font-size: 80px;
  font-family: var(---fancy-font);
}

@media (max-width: 768px) {
  .Weather h1 {
    font-size: 80px;
    text-shadow: 1px 1px 10px var(---text-base);
  }
  .loading {
    font-size: 60px;
  }
}

@media (max-width: 482px) {
  .Weather h1 {
    font-size: 65px;
    text-shadow: 1px 1px 8px var(---text-base);
  }
  .loading {
    font-size: 60px;
  }
}
